@import url('https://fonts.googleapis.com/css2?family=Cousine&display=swap');

body {
    margin-top: 40px;
    margin-left: 15%;
    margin-right: 15%;
    text-align: center;
    font-family: 'Cousine', monospace;
    background-color: #171717;
    color: #fbff00;
    text-shadow: -3px 3px #797300;
    font-style: italic;
    font-size: 1.3em;
}

.purple {
    color: #c90fbd;
    text-shadow: -2px 2px #470373;
}

a, a:hover, a:visited, a:disabled {
    color: #0090c4;
    text-shadow: -2px 2px #004158;
}

h1, h2, h3 {
    margin: 5px;
}

.content {
    position: relative;
    margin: auto;
    top: 50%;
    transform: translateY(-50%);
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
}

table, th, td {
    padding: 10px;
    text-align: left;
    border: 1px solid #fbff00;
    border-collapse: collapse;
}